<section  class="homepage-slider" id="home-slider">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="http://placehold.it/950x330" />
                <div class="intro">
                    <h1>Banner One</h1>
                    <p><span>Up to 50% Off</span></p>
                    <p><span>On selected items online and in stores</span></p>
                </div>
            </li>
            <li>
                <img src="http://placehold.it/950x330" />
                <div class="intro">
                    <h1>Banner Two</h1>
                    <p><span>Up to 50% Off</span></p>
                    <p><span>On selected items online and in stores</span></p>
                </div>
            </li>
        </ul>
    </div>          
</section>
<section class="header_text">
    The Company is dedicated to its customers by consistently offering the best quality and most 
    <br /> products across a broad spectrum of some industry
</section>