---
title: Welcome to Middleman
---

<%= partial 'partials/slider' %>
<section class="main-content">
			<%= partial 'partials/featured_products' %>		
			<br/>
			<%= partial 'partials/latest_products' %>										
</section>