<% category = locals[:category] %>
<% products = locals[:products] %>

<section class="header_text sub">
	<h4><span>Products</span></h4>
</section>
<section class="main-content">
	<div class="row">
        <%= partial 'partials/side_menu' %>
		<div class="span9">								
			<ul class="thumbnails listing-products">
				<% products.each do |p| %>
					<li class="span3">
						<div class="product-box">
							<span class="sale_tag"></span>												
							<% link_to "/#{category[:freindlyName]}/#{p[:freindlyName]}.html" do %>
								<%= image_tag "http://placehold.it/342x342" %>
							<% end %>
							<br/>	
							<%= link_to "#{p[:name]}", "/#{category[:freindlyName]}/#{p[:freindlyName]}.html", :class => "title" %><br/>
							<p class="price">£<%= p[:price] %></p>
						</div>
					</li> 
				<% end %> 
			</ul>								
			<hr>
		</div>
	</div>
</section>