<% root_url = data.sitemap.url %>
<section class="header_text sub">
	<h4><span>Site Map</span></h4>
</section>
<section class="main-content">				
	<div class="row">
		<%= partial 'partials/side_menu' %>	
		<div class="span7">
			<ul>
    			<% sitemap.resources.each do |page| %>
			        <% if page.url =~ /\.html/ %>
			            <li><a href="<%= "#{root_url}#{page.url}" %>"><%= "#{root_url}#{page.url}" %></a></li>
			        <% end %>
			    <% end %>
			</ul>		
		</div>				
	</div>
</section>	





